@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

body { 
	text-align: center;
	font-size: 28px;
	font-family: Avenir; sans-serif;
	background-color: rgb(132941);
	color: white;
}
header {
	background-color: #0D1D29;
	color: white;
	font-family: "Open Sans Condensed", cursive;
}
h1 {
	color: rgb(132941);
	text-align: center;
	font-size: 1.5em;
}
#slogan {
	font-style: italic;
	font-size: .66em;
}
h2 {
	color: black;
	font-size: .66em;
	font-family: PT Serif, cursive;
	line-length: 30em;
	width: 30 em;
}
h4 {
	color: black;
	font-size: .5em;
	font-family: PT Serif, cursive;
	line-length: 10em;
}
ul {
	color: black;
	font-family: PT Serif, cursive;
	line-length: 30em;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	width: 45%;
}