body {
	color: black;
	background: url("http://i.imgur.com/Mi3pF43.jpg?1");
	background-size: cover;
	text-align: center;
	font-size: 28px;
	font-family: Avenir; sans-serif;
}
header {
	background-color: rgb(63141199);
}
h1 {
	color: black;
	text-align: center;
	font-size: 36px;
}
#slogan {
	font-style: italic;
	font-size: 18px;
}
h2 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}